* {
	box-sizing: border-box;
	/* background-color: #f0f0f0; */
	background-color: #f1e4bb;
	font-family: 'Poppins',"Arial","Sans-serif";
	
}

html,body{
	margin: 0px;
	/* padding:5px; */
	/* To take the entire height */
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* Bigger Display */
@media only screen and (min-width: 601px) {

	div.header{
		display: flex;
		/* flex-wrap: wrap; */
		justify-content: center;
		flex-direction: column;
		background-image: url("media/bannerImage.jpeg");
	}

	/* div.main-banner{
		display: flex;
		align-items: center;
		background-image: url("media/bannerImage.jpeg");
	}

	div.header-logo{
		width: 15%;
		height: auto;
		background: transparent;
		height: inherit;
	}

	img#logo{
		width: 100%;
		background: transparent;
		border-radius: 50%;
		border: #000000 2px solid;
	} */

	#banner img#logo{
		width: 15%;
		max-width: 220px;
		background: transparent;
	}

	/* To float items to the right */
	.float-right {
		float: right;
		margin-left: 20px; /* Adjust the margin as needed */
		max-width: 50%; /* Adjust the max-width as needed */
	}

	.float-center{
		border-radius: 10px;
		display: flex;
		margin: auto;
		max-width: 90%;
	}

	/* For the icons used in home page */
	img.icon{
		width: 30%;
		height: auto;
		margin: 10px;
	}

	/* Contain elements within */
	.clearfix::after {
		content: "";
		clear: both;
		display: table;
	}
	
	/* To align elements in the division (service timing and location) */
	div.service_location{
		display: flex;
		justify-content: space-around;
		width: 80%;
		margin: auto; /* To make the div center since width is only 80% */
	}

	/* To align the elements in the division (service timing and location) */
	span.service, span.location{
		/* border: #000000 2px solid; */
        /* border-radius: 10px; */
        padding: 2px;
        width: 30%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-content: flex-start;
        align-items: center;
	}

	/* Hover effect for images */
	.enlarge:hover{
		transform: translateY(-5px); /* Lift on Hover */
  		box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2); /* Stronger Shadow on Hover */
		transition: transform 0.3s ease, box-shadow 0.3s ease; 
		/* transform:scale(1.1); */
	}

	/* div.video{
		display: flex;
		justify-content: center;
		align-items: center;
	} */

	/* Class to layout the organisations image */
	.index_organisations{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;

	}

	.index_organisations img{
		object-fit: contain;
		background-color: rgb(255, 255, 255); /*Just for visual purpose during initial designing*/
		transition: transform .2s;
		border-radius: 10px;
		border: 2px solid black;
		z-index: 4;
	}

	/* Year section holder */
	div.year-section{
		/* border-left: 5px solid #AD0000; Highlighted year indicator */
		padding: 15px;
		margin-bottom: 20px;
		background-color:rgb(184, 170, 170); /* Light gray background */
		background-color: #f3e2c7;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding: 20px;
		border-radius: 10px;
		margin-bottom: 20px;
	}

	/* Title holder */
	.year-title {
		font-size: 1.5rem;
		font-weight: bold;
		color: #333;
		margin-bottom: 10px;
		background-color: inherit;
	}

	
	/* Division which hold the office bearers */
	div.officeBearers{
		background-color: inherit;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 50px;
	}

	/* Division to hold committee members */
	div.committeeMembers{
		background-color: inherit;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 50px;
	}

	/* Styling the user info card */
	div.person-info{
		background-color: #d4c48f;
		padding: 20px;
		border-radius: 10px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		/* justify-content: space-evenly; */
		align-items: center;
		width: 250px;
		min-height: 337px;
		margin: 10px;
		/* Imported code */ 
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15); /* Subtle Shadow for 3D Effect */
  		transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth Transition for Hover Effect */
	}

	.committeeMembers div.person-info{
		width: 200px;
		min-height: 270px;
	}

	.person-info p{
		background-color: inherit;
		font-size: 18px;
		background-color: transparent;
		margin: 0;
	}

	.committeeMembers .person-info p{
		font-size: 16px;
	}

	/* Name of the person in the card */
	.person-info-name{
		font-size: 22px !important;
		font-weight: bold;
	}

	.committeeMembers .person-info-name{
		font-size: 20px !important;
	}

	/* Styling the image inside the user info card */
	.person-info img{	
		object-fit: contain;
		height: auto;
		margin-bottom: 10px;
		border-radius: 10px;
		max-width: 200px;
	}

	.committeeMembers .person-info img{	
		object-fit: contain;
		height: auto;
		margin-bottom: 10px;
		border-radius: 10px;
		max-width: 150px;
	}

	.person-info:hover{
		transform: translateY(-5px); /* Lift on Hover */
  		box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2); /* Stronger Shadow on Hover */
	}

	/* .video iframe{
		border: 2px solid black;
		border-radius: 10px;
		width:560px; 
		height:315px;
	} */

	/* hiding top nav */
	div.topnav{
		display: none;
	}

	/* Hiding menu and close icons */
	span.material-symbols-outlined{
		display: none;
	}

	/* banner styling to be shown on the top of each page */
	#banner {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		margin:auto;
		margin-bottom: 10px;
		height: 300px;
		padding:5px;
		padding-top:0px;		
		background-color: transparent;
	}

	a#logo{
		font-family: 'Poppins','Arial';
		color: #ffffff;
		/* background-color: #ffffff;  */
		/* font-size: 5vw; */
		font-size: clamp(1.5rem, 5vw, 48px);
		/* max-font-size: 48px; */
		text-align: center;
		word-wrap: break-word;
		font-weight: bold;
		
		/* shadow effect to the font */
		text-shadow: 0 0 3px #615a5a;
	}

	#container {
		margin:auto;
		/* margin-top: -2px; */
		height: auto;
		max-width: 1100px;
		/* border: 2px solid rgb(0, 0, 0); */
		padding: 18px;
		padding-bottom: 0%;		
		flex: 1;
		width:100%
	}

	div.navBar{
		display: flex;
		flex-wrap: wrap;
		text-align:center;
		font-size: 175%;
		/* font-size: clamp(18px, 4vw, 28px); */
		justify-content: center;
		align-items: center;
		background-color: #940303; /* Background colour for the whole navigation bar */
	}

	/* Dropdown Styling */
	.dropdown {
		/* float: left; */
		/* overflow: hidden; */
		position: relative;
		display: inline-block;
		background-color: inherit;
		height: 100%;
	  }
	  
	.dropdown .dropbtn {
		font-size: 28px;  
		/* font-size: clamp(18px, 4vw, 28px); */
		/* font-size: 2vw; */
		border: none;
		outline: none;
		color: white;
		padding: 0px 20px;
		/* background-color: #AD0000; */
		background-color: #940303;
		/* font-family: inherit; */
		margin: 0;
		height: 100%;
	}
	  
	.navbar a:hover, .dropdown:hover .dropbtn, span.drop_down:hover {
		background-color: rgb(202, 71, 71);
	}
	  
	.dropdown-content {
		display: none;
		position: absolute;
		/* background-color: #f9f9f9; */
		min-width: 160px;
		width: 100%;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	  
	.dropdown-content a {
		float: none;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
		font-size: 50%;
	  }
	  
	  .dropdown-content a:hover {
		background-color: #ddd;
	  }
	  
	  .dropdown:hover .dropdown-content {
		display: block;
	  }

	span.drop_down{
		display: inline-block;
		background-color: inherit;
		margin-left: 2px;
	}
	/* End of dropwdown styling */

	 /* Container for images */
	 .slideshow{
		width: 100%; /* Adjust width */
		height: auto; /* Adjust height */
		/* overflow: hidden; */
		position: relative;
		border: 2px solid black;
	}

	/* Styling for images */
	.slide {
		width: 100%;
		height: 250px;
		/* position: absolute; */
		/* opacity: 0; */
		transition: opacity 1s ease-in-out; /* Smooth transition */
	}

	/* Show the active image */
	.active {
		opacity: 1;
	}

	/* Slideshow CSS */
	/* Slideshow container styling */
	.slideshow-container {
		position: relative;
		margin: auto;
		width: 100%;
		object-fit: contain;
		object-position: center;
	}

	/* Hiding the images initially */
	.verseSlides {
		display: none;
		position: relative;
		overflow: hidden;
	}

	.verseSlides img{
		width: 100%;
		height: 500px;
	}

	/* Caption text */
	.slideshow-container .text {
		color: #f2f2f2;
		font-size: 15px;
		padding: 8px 12px;
		position: absolute;
		bottom: 8px;
		width: 100%;
		text-align: center;
	}

	.verseSlides .bibleVerse{
		position: absolute; /* Position it relative to the parent container */
		top: 50%;           /* Move it to the vertical center */
		left: 50%;          /* Move it to the horizontal center */
		transform: translate(-50%, -50%); /* Adjust for the element's own dimensions */
		color: white;       /* Make the text visible on the image */
		font-size: 30px;    /* Adjust font size as needed */
		font-weight: bold;  /* Make the text bold */
		z-index: 1;      /* Place it above the image */
		background-color: transparent;
		text-align: center;
		font-style: italic;
		padding: 10px;      /* Add some padding around the text */
		background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
		border-radius: 5px; /* Optional: Add rounded corners */
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Optional: Add a glow effect */
		max-height: 90%;
		width: 80%;
		display: flex; /* Display to flex for alignment properties*/
		align-items: center;  /* Align the text center vertically */
		justify-content: center; /* Align the text center */
	}
	
	/* Fading animation */
	.slideshow-container .fade {
		animation: fade 1.5s;
	}

	@keyframes fade {
		from {
			opacity: 0.4;
		}
		to {
			opacity: 1;
		}
	}
	/* End of the slideshow css */


	/* Styling for the patron saints slideshow */
	div.slideshow-patronSaint{	
		display: flex;
		border: 2px solid black;
	}
	
	.patronSaint{
		display: flex;
		flex-direction: row;
		border: 2px solid black;
		padding: 10px;
		border-radius: 10px;
		/* width: 20%; */
	}

	/* Used to change the flow direction */
	.patronSaint-reverse{
		flex-direction: row-reverse;
	}

	/* Fading animation */
	.fade {
		animation: fade 1.5s;
	}

	/* div.patronSaint-image{ */
		/* display: flex; */
		/* width: 30%; */
		/* border: 2px solid black; */
	/* } */

	div.patronSaint img{
		/* width: 100%; */
		border-radius: 10px;
		max-width: 250px;
		max-height: 400px;
	}

	div.aboutSaint{
		/* width: 70%; */
		padding-left: 10px;
	}

	div.patronSaint p{
		margin-top: 0px;
	}

    /* Used to style the map and service timing division in contacts page */
	div.direction{
		width:100%;
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		border-radius: 10px;
	}

	.direction-info{
		width:30%;
		background-color: #940303;
		padding:20px;
		padding-top: 0px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.direction-info h1, .direction-info h2{
		background-color: inherit;
		color: white;
	}

	.direction-info h2{
		margin-bottom: 0px;
	}

	.direction-info p{
		background-color: inherit;
		color: white;
		margin-top: 5px;
	}

	/* Styling for the news and events div and content inside */
	.news-events{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		width: 100%;
		/* background-color: #940303; */
		padding: 5px;
		border-radius: 10px;
		margin-bottom: 10px;
	}

	.newsEvents-info{
		/* background-color: #f0f0f0; */
		background-color: #ad000049;
		width: 300px;
		border-radius: 10px;
		padding: 10px;
		margin: 5px;
		transform: translateY(-5px); /* Lift on Hover */
  		box-shadow: rgba(0, 0, 0, 0.2); /* Stronger Shadow on Hover */
	}

	.newsEvents-info:hover{
		transform: translateY(-5px); /* Lift on Hover */
  		box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2); /* Stronger Shadow on Hover */
	}

	.news-events a:hover{
		cursor: pointer;
		text-decoration: underline;
	}

	.news-events p, .news-events h1, .news-events a{
		background-color: transparent;
		color: #000000;
		text-align: left;
	}

	.news-events p{
		color:#615a5a;
		margin: 0px
	}

	.news-events h1{
		margin-top: 0px;
	}

	/* Style when hidden and shown */
	p.event-info {
		color:#000000;
		opacity: 0; /* Start fully transparent */
		max-height: 0; /* Start with no height */
		overflow: hidden; /* Hide overflowing content */
		transition: opacity 0.3s ease, max-height 0.3s ease; /* Smooth transition for opacity and height */
	}
	
	p.event-info.show {
		opacity: 1; /* Fully visible */
		max-height: 500px; /* Set a maximum height (adjust as needed) */
	}

	.map-embed{
		width:70%;
	}

	.map-embed iframe{
		height: 100%;	
		width:100%;	
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	div.footer {
		display: flex;
		box-sizing: border-box;
		background-color: #AD0000;
		/* background-color: #940303; */
		margin-bottom: -1px;	
		width: 100%;	
	}

	div.subFooter {
		box-sizing: border-box;
		width: 100%;
		max-width: 1100px;
		background-color: inherit;
		margin: auto;
	}

	/* banner styling to be shown in the footer of the webpage */
	#bannerFooter {
		position: relative;
		box-sizing: border-box;
		display: flex;
		padding:5px;
		justify-content: center;
		align-items: center;
		float: left;
		background-color: inherit;
		width: 30%;
		z-index: 0;
	}

	#logoFooter{
		color: #ffffff;
		font-weight: bold;
		font-size: 200%;
	}

	#bannerFooter img#logo{
		width: 100%;
		max-width: 220px;
		background: transparent;
	}

	/* Style all font awesome icons */
	.footer .fa {
		padding: 20px;
		font-size: inherit;
		text-align: center;
		text-decoration: none;
		/* background-color: #AD0000; */
		/* background-color: #940303; */
	}
	
	/* Add a hover effect */
	.footer .fa:hover {
		transform: scale(1.5);
		background-color: transparent;
	}

	/* Personal css for the lightbox */
	/* Changing the size of the image */
	div.row{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	div.row img{
		width: 80%;
		border-radius: 10px;
	}

	div.column{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		max-width: 500px;
	}

	/* Styling the paragraph in the modal container. Caption */
	.modal p{
		background-color: #000000;
		color: white;
		text-align: center;
		padding: 8px;
		margin-top: 0;
	}

	/* Styling the modal container */
	.modal div.column{
		display: flex;
		/* justify-content: center; */
		width:25%;
		background-color: black;
	}

	/* Styling the row which contains other images when the modal container is opened */
	.modal div.row{
		display: flex;
		/* flex-wrap: nowrap; */
		justify-content: center;
		background-color: black;
	}

	/* Changing the padding of the image */
	/* Imported code is commented out (line 239) */
	.row > .column {
		padding: 8px;
		width: auto;
	  }

	/* Start of lightbox css */
	/* .row > .column { */
		/* padding: 0 8px; */
	  /* } */
	  
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	  
	  /* Create four equal columns that floats next to eachother */
	/* .column { */
		/* float: right; */
		/* width: 25%; */
	  /* } */
	  
	/* The Modal (background) */
	.modal {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: black;
		
	  }
	  
	  /* Modal Content */
	  .modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		width: 90%;
		max-width: 1200px;

		/* Extra code */
		display: block;
	  }
	  
	  /* The Close Button */
	  .close {
		background-color: #000000;
		color: rgb(255, 255, 255);
		position: absolute;
		top: 10px;
		right: 25px;
		font-size: 35px;
		font-weight: bold;
	  }
	  
	  .close:hover,
	  .close:focus {
		color: #999;
		text-decoration: none;
		cursor: pointer;
	  }
	  
	  /* Hide the slides by default */
	  .mySlides {
		display: none;
		background-color: black;
		/* Code to be used when display changed to flex using js */
		flex-direction: column-reverse;
		align-items: center;
		position: relative;
	  }

	  /* Stlying the slide image */
	  .mySlides img{
		width: 100%;
		height: auto;
		margin: auto;
	  }
	  
	  /* Next & previous buttons */
	  .prev,
	  .next {
		background-color: #f0f0f0;
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		color: rgb(0, 0, 0);
		font-weight: bold;
		font-size: 20px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
	  }
	  
	  /* Position the "next button" to the right */
	  .next {
		right: 0;
		border-radius: 3px 0 0 3px;
	  }
	  
	  /* On hover, add a black background color with a little bit see-through */
	  .prev:hover,
	  .next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	  }
	  
	  /* Number text (1/3 etc) */
	  .bibleVerse {
		color: #ffffff;
		font-size: 12px;
		padding: 8px 12px;
		position:relative;
		top: 0;
		background-color: black;
	  }
	  
	  /* Caption text */
	  .caption-container {
		text-align: center;
		background-color: black;
		padding: 16px;
		margin: 0px;
		color: white;
	  }
	  
	  .demo {
		opacity: 0.4;
		/* width: 20%; */
		/* display: none; */
	  }

	  /* img.active {
		display: block;
	  } */
	  
	  .active,
	  .demo:hover {
		opacity: 1;
	  }
	  
	  
	  img.hover-shadow {
		transition: 0.3s;
		
	  }
	  
	  .hover-shadow:hover {
		transform: translateY(-5px); /* Lift on Hover */
  		box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2); /* Stronger Shadow on Hover */
		/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15); /* Subtle Shadow for 3D Effect */
  		transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth Transition for Hover Effect */
	  }

	/* End of lightbox css */
	
	/* To style the ul within the navigation bar */
	.navBar ul {
		display: flex;
		/* background-color: #AD0000; */
		background-color: inherit;
		flex-wrap: wrap;
		padding: 0px;
		margin: 0px;	
		width: 100%;
		height: 42px;
		justify-content: center;
		align-items: center;
		
	}

	/* Hover styling for navigation bar elements */
	.navBar ul li:hover {
		background-color: rgb(202, 71, 71);
	}

	li {
		/* display: inline-block; */
		display: flex;
		padding-right: 20px;
		padding-left: 20px;
		background-color: inherit;;
		height: 100%;
		align-items: center;
		
	}


	h1 {
		text-align: center;
		font-size: 28px;
		padding: 0px;
		color: rgb(0, 0, 0);
		background-color: inherit;
	}

	h2{
		font-weight:bolder;
		font-size: 22px;		
	}

	/* Used to align h2 elements center only when needed */
	h2.center{
		text-align: center;
	}

	span.service h2, span.location h2{
		font-size: 20px;
	}

	p {
		color: rgb(0, 0, 0);
		/* text-align:left; */
		/* text-align: center; */
		margin-bottom: 0px;
	}

	a {
		background-color: inherit;
		color: rgb(255, 255, 255);
		text-decoration: none;
		/* text-shadow: 0 0 3px #FF0000 	Can be used to add a shadow effect */
	}

	/* Changing the font weight of the footer to normal */
	.footer a:link {
		font-weight: normal;
	}

	.footer a:hover{
		text-decoration: underline;
	}

	.otherLinks a{
		display: block;
		/* margin-bottom: 5px; */
		width: 100%;
	}


	/* Changing the decoration of the links in other links to be underlined always which represents a link */
	/* .otherLinks a{
		text-decoration: underline;
	} */

	.socialMediaIcons {
		display: flex;
		position: relative;
		float: right;
		height: 120px;
		/* background-color: #AD0000; */
		/* background-color: #940303; */
		background-color: inherit;
		width: 35%;
		font-size: 20px;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-content: center;
		/* z-index: 1; */
	}

	.otherLinks{
		position: relative;
		z-index: 0;
		/* background-color: #AD0000; */
		/* background-color: #940303; */
		background-color: inherit;
		float:left;
		height: 100%;
		width: 35%;
		padding:7px;
		padding-left: 18px;
		/* overflow:scroll */
	}
	
	p#otherLinks{
		/* background-color: #AD0000; */
		/* background-color: #940303; */
		background-color: inherit;
		color: white;
		font-weight: normal;	
		z-index: 2;
		margin-top: 0px;
	}

	/* Unused. Not deleted just to confirm if there is no use for this */
	/* p#socialMediaIcons{
		background-color: #AD0000;
		background-color: #940303;
		color:white;
		margin-top: 0;
		font-size: 20px;
		text-align: center;
	} */

	/* audio{
		margin-left: 30%;
		width:40%;
		border: 2px solid rgb(82, 82, 82);
		border-radius: 30px;
	} */

	#contact-form{
		display: flex;
	  }

	#prayer-request-form{
		display: none;
	}

	.form-button-holder{
		display: flex;
		justify-content: center;
		margin: auto;
		margin-top: 25px;
		max-width: 1100px;
		
	}

	/* Imported code for the button styling */
	.form-button {
		background-color: #940303;
		border: 1px solid #940303;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
		box-sizing: border-box;
		color: #FFFFFF;
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		font-weight: bold;
		line-height: 16px;
		min-height: 40px;
		outline: 0;
		padding: 12px 14px;
		text-align: center;
		text-rendering: geometricprecision;
		text-transform: none;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		vertical-align: middle;

		/* Personal css */
		margin: 5px;
	}

	.form-button:hover,
	.form-button:active {
		background-color: initial;
		background-position: 0 0;
		color: #940303;
	}

	.form-button:active {
	opacity: .5;
	}

	.form-button.show{
		background-color: initial;
		background-position: 0 0;
		color: #940303;
	}

	

	/* CSS for the contact form template */
	/* https://web3forms.com/templates/basic-html-contact-form */

	.contact-section {
		display: flex;
		flex-direction: column;
		/* justify-content: center; */
		/* align-items: center; */
		width: 100%;
		max-width: 50rem;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 2rem;
	  }
	  
	  .contact-intro > * + * {
		margin-top: 1rem;
	  }
	  
	  .contact-title {
		font-size: 1.875rem;
		line-height: 2.25rem;
		font-weight: 700;
		text-align: center;
	  }
	  
	  .contact-description {
		color: rgb(107 114 128);
		text-align: center;
	  }
	  
	  .form-group-container {
		display: grid;
		gap: 1rem;
		margin-top: 2rem;
	  }
	  
	  .form-group {
		display: flex;
		flex-direction: column;
	  }
	  
	  .form-label {
		margin-bottom: 0.5rem;
	  }
	  
	  .form-input,
	  .form-textarea {
		padding: 0.5rem;
		/* border: 1px solid #e5e7eb; */
		border: 1px solid #000000;
		display: flex;
		height: 2.5rem;
		width: 100%;
		max-width: 800px;
		border-radius: 0.375rem;
		font-size: 0.875rem;
		line-height: 1.25rem;

	  }

	  .form-textarea-request-prayer {
		min-height: 60px;
	  }
	  .form-textarea-request-prayer {
		padding: 0.5rem;
		/* border: 1px solid #e5e7eb; */
		border: 1px solid #000000;
		display: flex;
		height: 2.5rem;
		width: 100%;
		max-width: 800px;
		border-radius: 0.375rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
		margin-bottom: 0.5rem;
	  }
	  
	  .form-input::placeholder,
	  .form-textarea:focus-visible {
		color: #6b7280;
	  }
	  
	  .form-input:focus-visible,
	  .form-textarea:focus-visible {
		outline: 2px solid #AD0000;
		
		outline-offset: 2px;
	  }
	  
	  .form-textarea {
		min-height: 120px;
	  }
	  
	  .form-submit {
		width: 100%;
		margin-top: 1.2rem;
		/* background-color: #AD0000; */
		background-color: #940303;
		color: #fff;
		padding: 13px 5px;
		border-radius: 0.375rem;
	  }	
}
	
/* Used only to reduce the size of the navigation bar elements */

@media only screen and (max-width: 950px) {
	div.navBar {
	  font-size: 150%;
	}

	.dropdown .dropbtn {
		font-size: 24px;
		display: flex;
		align-items: center;
	}

	/* Adjusting the font size of the verse shown */
	.verseSlides .bibleVerse{
		font-size: 25px;
	}
}

@media only screen and  (max-width:820px) {
	div.navBar {
	  font-size: 137.5%;
	}

	.dropdown .dropbtn {
		font-size: 22px;
		display: flex;
		align-items: center;
	}
	/* Hiding the logo in the footer */
	#bannerFooter{
		display: none;
	}

	/* Adjsuting the new width */
	.otherLinks{
		width: 50%;
	}

	.socialMediaIcons{
		width: 50%;
	}

	
}

@media only screen and  (max-width:780px) {
	div.navBar {
	  font-size: 125%;
	}

	.dropdown .dropbtn {
		font-size: 20px;
		display: flex;
		align-items: center;
	}

	
}

@media only screen and (max-width:725px) {
	div.navBar {
	  font-size: 112.5%;
	}

	.dropdown .dropbtn {
		font-size: 18px;
		display: flex;
		align-items: center;
	}
}

@media only screen and (max-width:680px) {
	/* div.navBar {
	  font-size: 112.5%;
	} */

	.dropdown .dropbtn  {
		font-size: 18px;
		display: flex;
		align-items: center;
		padding: 0px 10px;
	}

	li{
		padding: 0px 10px;
	}
}

/* Smaller Display */
@media only screen and (max-width: 600px) {

	/* Elements to be hidden */

	/* Hiding the navigation bar (bigger display) */
	div.navBar{
		display: none;
	} 

	/* Hiding the banner  */
	a#logo{
		display: none;
	}

	/* Hiding the logo in the footer */
	a#logoFooter{
		display: none;
	}

	/* Hiding the church logo from the banner */
	img.churchLogo{
		display: none;
	}

	/* To hide the banner in the footer which will be only displayed in bigger display */
	#bannerFooter {
		display: none;
	}

	/* Styling for mobile display (structural heirarchy) */

	body{
		min-width: 300px;
	}

	/* Header styling */
	div.header{
		display: flex;
        background-color: #AD0000;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
		height: 100px;
		padding-right: 10px;
	}

	#banner {
		background: transparent;
		display: flex;
		justify-content: flex-start;
		/* margin:auto; */
		padding-top:0px;
		z-index: 2;
		/* align-items: center; */
		/* font-family: 'Poppins','Arial'; */
	}

	.material-symbols-outlined {
		background-color: inherit;
		color: white;
		font-size: 40px !important;
	}

	/* For the logo icon in the banner */
	img#logo{
		background: transparent;
		border: none;
		/* margin-left: 2px; */
	}

	/* Styling the logo in banner */
	img.parishLogo{
		width: 100px;
	}
	
	/* To make the logo a link to the homepage */
	/* a#logo{
		font-family: 'Poppins','Arial';
		color: #ffffff;
		font-size: 1.63em;
		margin-bottom: auto;
		background-color: #AD0000;
	} */

	

	/* Hamburger menu close icon */
	#btnCloseMenu{
		display: none;
	}

	/* Dropdown Styling */
	.dropdown {
		/* float: left; */
		overflow: hidden;
		width: 100%;
	  }
	  
	.dropdown .dropbtn {
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		color: #000000;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 100%;
		font-weight: bold;		
		/* z-index: 1;		 */
		/* text-align: center; */
		width: 100%;
		margin: auto;
	}
	  
	/* .navbar a:hover, .dropdown:hover .dropbtn, span.drop_down:hover {
		background-color: red;
	} */
	  
	.dropdown-content {
		display: block; /* Changed from none to block */
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;		
		/* Hides the element at the beginning since height is set to 0 */
		max-height: 0; 
		overflow: hidden;
		transition: max-height 0.5s ease-in-out; /* Set the transition effect */
	}

	/* Changing height from 0 to show the dropDown window */
	.dropdown-content.show {
		max-height: 500px; /* Set a max-height large enough to show the content */
	}
	  
	.dropdown-content a {
		/* float: none; */
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: center;
		font-size: 85%;
		font-weight: normal;
	  }
	  
	  /* .dropdown-content a:hover {
		background-color: #ddd;
	  } */
	  
	  /* .dropdown:hover .dropdown-content {
		display: block;
	  } */

	span.drop_down{
		display: inline-block;
		background-color: inherit;
		/* margin-left: 2px; */
		color: black;
		font-size: x-large !important;
	}
	/* End of dropwdown styling */

	#container {
		margin:auto;
		height: auto;
		max-width: 1100px;
		/* border: 2px solid rgb(0, 0, 0); */
		padding:5px;
		padding-top:0px;
		margin-left: 2px;
		margin-right: 4px;
	}

	/* Slideshow CSS */
	
	/* Slideshow container styling */
	.slideshow-container {
		position: relative;
		margin: auto;
		width: 100%;
	}

	/* Hiding the images initially */
	.verseSlides {
		display: none;
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	.verseSlides img{
		width: 100%;
		height: 250px;
		object-fit: fill;
	}

	/* Caption text */
	.slideshow-container .text {
		color: #f2f2f2;
		font-size: 15px;
		padding: 8px 12px;
		position: absolute;
		bottom: 8px;
		width: 100%;
		text-align: center;
	}

	/* Number text (e.g., 1/3) */
	.verseSlides .bibleVerse{
		position: absolute; /* Position it relative to the parent container */
		top: 50%;           /* Move it to the vertical center */
		left: 50%;          /* Move it to the horizontal center */
		transform: translate(-50%, -50%); /* Adjust for the element's own dimensions */
		color: white;       /* Make the text visible on the image */
		font-size: 1.1rem;    /* Adjust font size as needed */
		font-weight: bold;  /* Make the text bold */
		z-index: 1;      /* Place it above the image */
		text-align: center;
		font-style: italic;
		padding: 10px;      /* Add some padding around the text */
		background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
		border-radius: 5px; /* Optional: Add rounded corners */
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Optional: Add a glow effect */
		width: 90%;
		max-height: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.dot-class{
		text-align:center
	}
	
	/* Dots/bullets/indicators */
	.dot-class .dot {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}

	.dot-class .dot.active,
	.dot-class .dot:hover {
		background-color: #000000;
	}
	/* Fading animation */
	.slideshow-container .fade {
		animation: fade 1.5s;
	}

	@keyframes fade {
		from {
			opacity: 0.4;
		}
		to {
			opacity: 1;
		}
	}
	/* End of the slideshow css */

	/* Styling for the patron saints slideshow */
	div.slideshow-patronSaint{	
		display: flex;
		border: 2px solid black;
	}
	
	.patronSaint{
		display: flex;
		flex-direction: column;
		text-align: center;
		border: 2px solid black;
		padding: 10px;
		border-radius: 10px;
		/* width: 20%; */
	}

	/* Used to change the flow direction */
	.patronSaint-reverse{
		flex-direction: column;
	}

	/* Fading animation */
	.fade {
		animation: fade 1.5s;
	}

	/* div.patronSaint-image{ */
		/* display: flex; */
		/* width: 30%; */
		/* border: 2px solid black; */
	/* } */

	div.patronSaint img{
		width: 100%;
		border-radius: 10px;
	}

	div.aboutSaint{
		/* width: 70%; */
		padding-left: 10px;
	}

	div.patronSaint p{
		margin-top: 0px;
		text-align: center;
	}

	p.patronSaintName{
		font-weight: bolder;
		font-size: 1.5rem;
	}

	/* To align elements in the division (service timing and location) */
	div.service_location{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		/* width: 80%; */
		margin: auto; /* To make the div center since width is only 80% */
	}

	/* For the icons used in home page */
	img.icon{
		height: auto;
		margin: 10px;
	}

	/* For Normal Images */
	img{
		width: 90%;
		height: auto;
		/* margin-left: 11%; */
		object-fit: contain;
		/* background-color: rgb(255, 255, 255); Just for visual purpose during initial designing	 */
		/* border-radius: 10px; */
		/* border: 2px solid black; */
		/* margin-top: 2%; */
		/* margin-left: -10px; */
	}

	/* To align the images to the center  */
	.float-center{
		border-radius: 5px;
		display: flex;
		margin: auto;
		/* max-width: 80%; */
	}


	/* To align the elements in the division (service timing and location) */
	span.service, span.location{
        padding: 2px;
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-content: flex-start;
        align-items: center;
	}

	span.service img, span.location img{
		width: 30%;
		height: auto;
	}

	/* Class to layout the organisations image */
	.index_organisations{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
	}

	.index_organisations img{
		width: 90%;
		object-fit: contain;
		background-color: rgb(255, 255, 255); /*Just for visual purpose during initial designing*/
		transition: transform .2s;
		border-radius: 10px;
		border: 2px solid black;
		z-index: 4;
	}

	/* .person-info p{
		background-color: inherit;

		font-size: 18px;
		background-color: transparent;
		margin: 0;
	} */

	/* Name of the person in the card */
	/* .person-info-name{
		font-size: 22px !important;
		font-weight: bold;
	} */

	/* Styling the image inside the user info card */
	/* .person-info img{	
		object-fit: contain;
		height: auto;
		margin-bottom: 10px;
		border-radius: 10px;
	} */

	/* Year section holder */
	div.year-section{
		/* border-left: 5px solid #AD0000; Highlighted year indicator */
		padding: 15px;
		margin-bottom: 20px;
		background-color:rgb(184, 170, 170); /* Light gray background */
		background-color: #f3e2c7;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding: 20px;
		border-radius: 10px;
		margin-bottom: 20px;
	}

	/* Title holder */
	.year-title {
		font-size: 1.5rem;
		font-weight: bold;
		color: #333;
		margin-bottom: 10px;
		background-color: inherit;
		text-align: center;
	}

	
	/* Division which hold the office bearers */
	div.officeBearers{
		background-color: inherit;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 50px;
	}

	/* Division to hold committee members */
	div.committeeMembers{
		background-color: inherit;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 50px;
	}

	/* Styling the user info card */
	div.person-info{
		background-color: #d4c48f;
		padding: 20px;
		border-radius: 10px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		/* justify-content: space-evenly; */
		align-items: center;
		width: 250px;
		min-height: 337px;
		margin: 10px;
		/* Imported code */ 
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15); /* Subtle Shadow for 3D Effect */
  		transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth Transition for Hover Effect */
	}

	.committeeMembers div.person-info{
		width: 200px;
		min-height: 270px;
	}

	.person-info p{
		font-size: 18px;
		background-color: transparent;
		margin: 0;
		text-align: center;
	}

	.committeeMembers .person-info p{
		font-size: 16px;
	}

	/* Name of the person in the card */
	.person-info-name{
		font-size: 22px !important;
		font-weight: bold;
	}

	.committeeMembers .person-info-name{
		font-size: 20px !important;
	}

	/* Styling the image inside the user info card */
	.person-info img{	
		object-fit: contain;
		height: auto;
		margin-bottom: 10px;
		border-radius: 10px;
		max-width: 200px;
	}

	.committeeMembers .person-info img{	
		object-fit: contain;
		height: auto;
		margin-bottom: 10px;
		border-radius: 10px;
		max-width: 150px;
	}

	/* Style the navigation menu */
	.topnav {
		overflow: hidden;
		background-color: #fffafa;	
		margin-top: auto;
		display: block;	
	}
	
	/* Hide the links inside the navigation menu (except for logo/home) */
	#myLinks {
		/* To show the hamburger menu */
		display: none;	
	}
	
	/* Style navigation menu links */
	.topnav a.links {
		/* background-color: #E3E8F3; */
		color: #000000;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 100%;
		display: block;
		z-index: 1;		
		text-align: center;
		font-weight: bold;
	}
	
	/* Style the hamburger menu */
	.topnav a.icon {
		background-color: #E3E8F3;
		display: flex;
		position: absolute;
		right: 20px;
		top: 15px;
	}
	

	/* Personal css for the lightbox */
	/* Changing the size of the image */
	div.row{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	div.row img{
		width: 80%;
		border-radius: 10px;
	}

	div.column{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		max-width: 500px;
	}

	/* Styling the paragraph in the modal container. Caption */
	.modal p{
		background-color: #000000;
		color: white;
		text-align: center;
		padding: 8px;
		margin-top: 0;
	}

	/* Styling the modal container */
	.modal div.column{
		display: flex;
		/* justify-content: center; */
		width:25%;
		background-color: black;
	}

	/* Styling the row which contains other images when the modal container is opened */
	.modal div.row{
		display: flex;
		/* flex-wrap: nowrap; */
		justify-content: center;
		background-color: black;
	}

	/* Changing the padding of the image */
	/* Imported code is commented out (line 239) */
	.row > .column {
		padding: 8px;
		width: auto;
	  }

	/* Start of lightbox css */
	/* .row > .column { */
		/* padding: 0 8px; */
	  /* } */
	  
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	  
	  /* Create four equal columns that floats next to eachother */
	/* .column { */
		/* float: right; */
		/* width: 25%; */
	  /* } */
	  
	/* The Modal (background) */
	.modal {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: black;
		
	  }
	  
	  /* Modal Content */
	  .modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		width: 90%;
		max-width: 1200px;

		/* Extra code */
		display: block;
	  }
	  
	  /* The Close Button */
	  .close {
		background-color: #000000;
		color: rgb(255, 255, 255);
		position: absolute;
		top: 10px;
		right: 25px;
		font-size: 35px;
		font-weight: bold;
	  }
	  
	  .close:hover,
	  .close:focus {
		color: #999;
		text-decoration: none;
		cursor: pointer;
	  }
	  
	  /* Hide the slides by default */
	  .mySlides {
		display: none;
		background-color: black;
		/* Code to be used when display changed to flex using js */
		flex-direction: column-reverse;
		align-items: center;
		position: relative;
	  }

	  /* Stlying the slide image */
	  .mySlides img{
		width: 100%;
		height: auto;
		margin: auto;
	  }
	  
	  /* Next & previous buttons */
	  .prev,
	  .next {
		background-color: #f0f0f0;
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		color: rgb(0, 0, 0);
		font-weight: bold;
		font-size: 20px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
	  }
	  
	  /* Position the "next button" to the right */
	  .next {
		right: 0;
		border-radius: 3px 0 0 3px;
	  }
	  
	  /* On hover, add a black background color with a little bit see-through */
	  .prev:hover,
	  .next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	  }
	  
	  /* Number text (1/3 etc) */
	  .bibleVerse {
		color: #ffffff;
		font-size: 12px;
		padding: 8px 12px;
		position:relative;
		top: 0;
		background-color: black;
	  }
	  
	  /* Caption text */
	  .caption-container {
		text-align: center;
		background-color: black;
		padding: 16px;
		margin: 0px;
		color: white;
	  }
	  
	  .demo {
		opacity: 0.4;
		/* width: 20%; */
		/* display: none; */
	  }

	  /* img.active {
		display: block;
	  } */
	  
	  .active,
	  .demo:hover {
		opacity: 1;
	  }
	  
	  
	  img.hover-shadow {
		transition: 0.3s;
		
	  }
	  
	  .hover-shadow:hover {
		transform: translateY(-5px); /* Lift on Hover */
  		box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2); /* Stronger Shadow on Hover */
		/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15); /* Subtle Shadow for 3D Effect */
  		transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth Transition for Hover Effect */
	  }

	/* End of lightbox css */

	/* Hamburger menu */
	/* Add a grey background color on mouse-over */
	/* .topnav a:hover {
		background-color: rgb(173, 170, 170);
	} */

	div.direction{
		width:100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 20px;
		border-radius: 10px;
	}

	.direction-info{
		width:100%;
		background-color: #940303;
		padding:20px;
		padding-top: 0px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.direction-info h1, .direction-info h2{
		background-color: inherit;
		color: white;
	}

	.direction-info h2{
		margin-bottom: 0px;
	}

	.direction-info p{
		background-color: inherit;
		color: white;
		margin-top: 5px;
	}
	
	/* Styling for the news and events div and content inside */
	.news-events{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		width: 100%;
		/* background-color: #940303; */
		padding: 5px;
		border-radius: 10px;
		margin-bottom: 10px;
	}

	.newsEvents-info{
		/* background-color: #f0f0f0; */
		background-color: #ad000049;
		width: 300px;
		border-radius: 10px;
		padding: 10px;
		margin: 5px;
		transform: translateY(-5px); /* Lift on Hover */
  		box-shadow: rgba(0, 0, 0, 0.2); /* Stronger Shadow on Hover */
	}

	.newsEvents-info:hover{
		transform: translateY(-5px); /* Lift on Hover */
  		box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2); /* Stronger Shadow on Hover */
	}

	.news-events a:hover{
		cursor: pointer;
		text-decoration: underline;
	}

	.news-events p, .news-events h1, .news-events a{
		background-color: transparent;
		color: #000000;
		text-align: left;
	}

	.news-events p{
		color:#615a5a;
		margin: 0px
	}

	.news-events h1{
		margin-top: 0px;
	}

	/* Style when hidden and shown */
	p.event-info {
		color:#000000;
		opacity: 0; /* Start fully transparent */
		max-height: 0; /* Start with no height */
		overflow: hidden; /* Hide overflowing content */
		transition: opacity 0.3s ease, max-height 0.3s ease; /* Smooth transition for opacity and height */
	}
	
	p.event-info.show {
		opacity: 1; /* Fully visible */
		max-height: 500px; /* Set a maximum height (adjust as needed) */
	}
	.map-embed{
		width:100%;
		height: 100%;
	}

	.map-embed iframe{
		width:100%;	
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	div.footer {
		/* display: inline-flex; */
		display: flex;
		flex-direction: column;
		height: fit-content;
		width:100%;
		background-color: #AD0000;
		margin: auto;
		/* margin-bottom: -5px;  */
	}

	/* Subfooter (contains footer content) */
	div.subFooter {
		box-sizing: border-box;
		width: 100%;
		max-width: 1100px;
		background-color: inherit;
		/* margin: auto; */
		margin-bottom: 10px;

	}

	/* Style all font awesome icons */
	.footer .fa {
		padding: 20px;
		font-size: inherit;
		text-align: center;
		text-decoration: none;
		background-color: #AD0000;	
	}
	
	/* Add a hover effect if you want */
	.footer .fa:hover {
		transform: scale(1.2);
	}


	.footer .socialMediaIcons {
		overflow: hidden;
		display: flex;
		/* float: right; */
		height: auto;
		background-color: inherit;
		width: 100%;
		font-size: 20px;
		flex-wrap: wrap;
		/* justify-content: space-evenly; */
		/* align-content: center; */
		/* margin: auto; */
	}


	.footer .otherLinks{
		overflow: hidden;
		background-color: inherit;
		/* float:left; */
		height: auto;
		width: 100%;
		padding: 7px;
	}
	
	.footer p#otherLinks{
		background-color: inherit;
		color: white;
		margin-top: 0px;
		font-weight: normal;	
	}	

	/* .video iframe{
		border: 2px solid black;
		border-radius: 10px;
		width:560px; 
		height:315px;
	}

	audio {
		margin-left: 10%;
		width: 80%;
		border: 2px solid #525252;
		border-radius: 30px;
	} */

	ul {
		/* background-color: #AD0000; */
		background-color: #940303;
		
	}

	li {
		display: inline-block;
		padding-right: 25px;
		padding-left: 25px;
		/* background-color: #AD0000; */
		background-color: #940303;
	}


	h1 {
		text-align: center;
		padding: 0px;
		color: rgb(0, 0, 0);
	}


	p {
		color: rgb(0, 0, 0);
		text-align:left;
		margin-bottom: 0;
	}

	a {
		background-color: inherit;
		color: rgb(255, 255, 255);
		text-decoration: none;
		text-align: center;
	}

	/* Changes the colour of the hamburger menu */
	a:link {
		color: rgb(0, 0, 0);
	}

	.footer a:link {
		color: rgb(255, 255, 255);
		font-weight: normal;
		/* padding: 2px; */
		/* padding-bottom: 10px; */
	}

	/* Made the links underlines to show them as links */
	.footer .otherLinks a{
		display: block;
		text-decoration: underline;
		/* margin-bottom: 10px; */
		text-align: left;
	}

	p#subhead {
		font-weight:bolder;
		font-size: 20px;
	}

	/* To give a bit of space between the subheadings */
	h2{
		font-weight:bolder;
		font-size: 20px;
		margin-bottom: 0;
	}

	h2.center{
		text-align: center;
	}

	/* Personal css for contact page */
	#contact-form{
		display: flex;
	  }

	#prayer-request-form{
		display: none;
	}

	.form-button-holder{
		display: flex;
		justify-content: center;
		margin: auto;
		margin-top: 25px;
		max-width: 1100px;
		
	}
	/* <!-- HTML !-->
<button class="button-24" role="button">Button 24</button> */

	/* CSS */
	.form-button {
		/* background: #FF4742; */
		background-color: #AD0000;
		border: 1px solid #AD0000;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
		box-sizing: border-box;
		color: #FFFFFF;
		cursor: pointer;
		display: inline-block;
		/* font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif; */
		font-size: 16px;
		/* font-weight: 800; */
		font-weight: bold;
		line-height: 16px;
		min-height: 40px;
		outline: 0;
		padding: 12px 14px;
		text-align: center;
		text-rendering: geometricprecision;
		text-transform: none;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		vertical-align: middle;

		/* Personal css */
		margin: 5px;
	}

	.form-button:hover,
	.form-button:active {
		background-color: initial;
		background-position: 0 0;
		color: #AD0000;
	}

	.form-button:active {
		opacity: .5;
	}

	/* CSS for the contact form template */
	/* https://web3forms.com/templates/basic-html-contact-form */

	.contact-section {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 50rem;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 2rem;
	  }
	  
	  .contact-intro > * + * {
		margin-top: 1rem;
	  }
	  
	  .contact-title {
		font-size: 1.875rem;
		line-height: 2.25rem;
		font-weight: 700;
		text-align: center;
	  }
	  
	  .contact-description {
		color: rgb(107 114 128);
		text-align: center;
	  }
	  
	  .form-group-container {
		display: grid;
		gap: 1rem;
		margin-top: 2rem;
	  }
	  
	  .form-group {
		display: flex;
		flex-direction: column;
	  }
	  
	  .form-label {
		margin-bottom: 0.5rem;
	  }
	  
	  .form-input,
	  .form-textarea {
		padding: 0.5rem;
		/* border: 1px solid #e5e7eb; */
		border: 1px solid #000000;
		
		display: flex;
		height: 2.5rem;
		width: 100%;
		border-radius: 0.375rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
	  }

	  .form-textarea-request-prayer {
		min-height: 60px;
	  }
	  .form-textarea-request-prayer {
		padding: 0.5rem;
		/* border: 1px solid #e5e7eb; */
		border: 1px solid #000000;
		display: flex;
		height: 2.5rem;
		width: 100%;
		border-radius: 0.375rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
		margin-bottom: 0.5rem;
	  }
	  
	  .form-input::placeholder,
	  .form-textarea:focus-visible {
		color: #6b7280;
	  }
	  
	  .form-input:focus-visible,
	  .form-textarea:focus-visible {
		outline: 2px solid #AD0000;
		
		outline-offset: 2px;
	  }
	  
	  .form-textarea {
		min-height: 120px;
	  }
	  
	  .form-submit {
		width: 100%;
		margin-top: 1.2rem;
		/* background-color: #AD0000; */
		background-color: #940303;
		color: #fff;
		padding: 13px 5px;
		border-radius: 0.375rem;
	  }
	
}



